<html>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

<script type="text/javascript">
	var lock = new Auth0Lock('#{env.AUTH0_CLIENT_ID}', '#{env.AUTH0_DOMAIN}',{ auth: {
          redirectUrl: '#{env.AUTH0_CALLBACK_URL}'
        , responseType: 'code'
        , params: {
          scope: 'openid name email picture'
        }
      }});
    lock.show();
</script>

<body>
	<img src= <%- JSON.stringify(user.picture) %>>
	<a href="/logout"> Logout </a>
</body>

</html>